body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

input {
  padding: 6px 12px;
  border-radius: 4px;
}

input:invalid {
  border-color: red;
}

.matrix {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matrix__row {
  white-space: nowrap;
}

.matrix button {
  padding: 5px 10px;
}

.table-caption {
  font-weight: 700;
  color: #959595;
  padding: 10px 0;
}

th {
    font-weight: bold;
  }

td, th {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.btn {
  padding: 6px 12px;
  margin: 5px 0;
}


